<template name="navigation">

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{pathFor 'home'}}">EYH2014 hubs hub</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{pathFor 'me'}}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My info</a></li>
				<li><a href="{{pathFor 'hub'}}"><span class="glyphicon glyphicon-glass"></span>&nbsp;&nbsp;My hub</a></li>
				<li><a href="{{pathFor 'group'}}"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;My group</a></li>
				<li><a href="{{pathFor 'chat'}}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Chat</a></li>
				<li><a href="{{pathFor 'feedback'}}"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Feedback</a></li>
			</ul>
		</div><!--/.navbar-collapse -->
	</div>
</div>
<div style="height: 50px;"></div>

</template>