/* CSS declarations go here */

.glyphicon {
	top: 3px;
}

.header-image {
	background-image: url('/img/mappin.jpg');
	min-height: 180px;
	max-height: 180px;
	/*margin-top: 8px;*/
	margin-bottom: 8px;
	background-attachment: fixed;
	background-position: 0px -240px;
}